/*global*/
* {
  margin:0;
  padding:0;
}
body {
  font-family:'Helvetica Neue', Helvetica, Arial, Sans-serif;
  font-size:1rem;
}

.logout {
  padding:5px 10px;
  float: right;
  background:#c3512f;
  color: #fff;
  border-radius: 3px 3px;
  text-decoration: none;
}
button {
  background:#c3512f;
  border:0;
  color:#fff;
  cursor:pointer;
  font-family:'Helvetica Neue', Helvetica, Arial, Sans-serif;
  font-size:1rem;
  padding:15px 0;
  display: block;
  width: 100%;
  border-radius: 3px 3px;
}
button:active {
  background:#c3512f;
}
[disabled] {
  background:#c3512f;
  color:#fff;
}
fieldset {
  color:#777;
  padding:1rem;
}
fieldset legend {
  border:1px solid #777;
  padding:0 .5rem;
}
label {
  display:inline-block;
  text-align:right;
  vertical-align:middle;
  width:200px;
}
select {
  background:#ddd;
  text-indent: 0.01px;
  text-overflow: "";
}
p {
}
/*header*/
body > header {
  border-bottom:1px solid #ccc;
}
body > header h1 {
  font-size:2rem;
  padding:1rem 1rem 0 1rem;
}
body > header h2 {
  font-size:1rem;
  padding:0 1rem;
}
/*nav*/
body > header nav {
  padding:1rem;
}
body > header nav li {
  display:inline-block;
  padding-bottom:.5rem;
}
body > header nav li a {
  color:#777;
  padding:.5rem;
  text-decoration:none;
}
body > header nav li a.active {
  background:#eee;
}
/*main*/
main section {
  padding:1rem;
}
main section article {
  padding-bottom:2rem;
}
main section article h1 {
  font-size:1.5rem;
}
main section article h2 {
  font-size:1rem;
  margin-bottom:1rem;
}
/*main form*/
form {
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  position: absolute; 
  bottom: 0; 
  left: 0;
}
main input,
select,
textarea {
  width: 100%;
  background:none;
  border: none;
  border-bottom: 1px solid #333;
  display:block;
  font-family:'Helvetica Neue', Helvetica, Arial, Sans-serif;
  margin: 0;
  padding:15px 0;
  vertical-align:middle;
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  border-radius: 0;
  -webkit-appearance: none;
}
main select,
textarea {
  width:300px;
}

body {
  background: #000;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
}

a {
  color: red;
}

.logo {
  width: 230px;
  height: 50px;
  margin: 20px auto 0 auto;
  background: url(../img/logo.svg) no-repeat 0 0;
  background-size: 230px 50px;
}



#stickersheet-wrapper {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 0;
  margin: -145px 0 0 0;
}
#stickersheet { 
  width: 220px;
  height: 300px;
  margin: 0 auto;
}

  #stickersheet .sticker {
    width: 60px; 
    height: 60px; 
    background: none;
    box-sizing: border-box;
    background: #fff url(../img/icon-cup-default.svg) no-repeat 0 0;
    background-size: 60px 60px; 
    border-radius: 50%; 
    margin: 0 20px 20px 0; 
    float: left;
    position: relative;
  }

  #stickersheet .sticker:nth-child(3n+3) {
    margin-right: 0;
  }

  #stickersheet .sticker.active {
    border: none;
    background: #fff url(../img/icon-cup-active.svg) no-repeat 0 0;
    background-size: 60px 60px; 
  }

  #stickersheet .sticker.active:after {
    content: '';
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 2px solid #bf9f37;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 1;
  }

  #stickersheet .sticker:last-of-type {
    margin: 20px 0 0 80px;
     background: #bf9f37 url(../img/icon-cup-free.svg) no-repeat 0 0;
    background-size: 60px 60px; 
  }

  #stickersheet .sticker:last-of-type:after {
    content: 'Free';
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 2px solid rgba(0,0,0,0.3);
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 1;
    text-transform: uppercase;
    text-align: center;
    line-height: 52px;
    font-weight: bold;
    color: #000;
  }